@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
.footer {
  @include component-style();
  background: $ivory;
  &__wrapper {
    display: grid;
    grid-template-columns:  repeat(4, 25%);
    justify-items: stretch;
    gap: 15px;
  }
  &__logo{
    border-top: 1px solid $orange;
    margin-top: 50px;
    grid-column: 2 /span 2;
    justify-self: center;
  }
  &__links p{
    color: $orange;
  }
  &__link{
    @include font-style( $orange, 10px, left);
    @include font-size($body-text-sm,24px)
  }
  &__link:hover{
    color: $blue;
  }
  &__link-purple{
      color: $purple;
      font-weight: 600
    }
  &__logo {
    width: 150px;
    height: 150px;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 700px){
  .footer {
    &__wrapper{
      grid-template-columns: repeat(2, 50%);
    }
    &__logo{
      grid-column: 1 /span 2;
    }
  }
}


