@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  

//header
.header {
  background: $orange;
  margin-bottom: $margin-top;
  &__promo {
    width: 100%;
    margin-top: 10px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__content-top{
    display: flex;
    font-display: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    button {
      background: $orange;
    }
  }
  &__content-bottom{
    padding: 10px 0px
  }
  &__logo {
    width: 120px;
    img {
      width: 100%;
    }
  }
  &__user{
     
  }
  &__links {
    width: 100%;
    ul {
      display: flex;
      justify-content:start;
    }
  }
  &__link {
    color: $white;
    margin-right: 10px;
    cursor: pointer;
  }
  &__link:hover{
    color: $purple;
  }
  &__link-icon {
    fill: $white;
    width: 20px;
  }
}

.red__circle {
  display: block;
  padding: 10px 10px;
  margin-top: -20px;
  margin-left: 12px;
  font-size: 10px;
  color: $white;
}
//menu svg for cart & favorile list
.red__circle, .menu-svg {
  @include transition();
}

.header__link:hover .red__circle {
  color: $purple;
}

.header__link:hover .menu-svg {
  fill: $purple;
}


@media (max-width: 870px) {
  .header{
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .header {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      width: 75px;
      height: 45px;
      img {
        width: 100%;
      }
      &__links {
        width: 100px;
      }
    }
  }
}
