// BrandsSection component
.brands {
   margin-top: $margin-top;
   @include block-style();
   &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
   &__item {

   }
   &__img {
      width: 100%;
      padding: 10px;
   }
}

// for devices smaller with 800px
@media (max-width: 800px) {
   .brands {
      &__img {
         margin: 5px;
      }
   }
}
.swiper-slide {
   display: flex;
   align-items: center;
   justify-content: center;
 }