@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  
.delivery {
   margin-top: $margin-top;
   padding: $margin-top 0px;
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   &__item {
       @include sectionItemStyle();
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      @include block-style();
   }
   &__item:last-child{
      margin-right: 0;
   }
   &__item-top{
      flex: 1 0 auto;
   }
   &__item-bottom{
   }
   &__img {
      width: 60px;
      @include positionCenter();
      img {
         width: 100%;
      }
      svg{
         fill: red
      }
      
   }
   &__text {
      p{
        text-align: center; 
      }
      
   }
}
@media (max-width: 600px) {
   .delivery {
      &__wrapper {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}
