@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  

.delivery {
   @include component-style();
        p{
         color: $purple;
        text-align: center; 
      }
   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
   }
   &__item {
       @include sectionItemStyle();
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      @include block-style();
   }
   &__item:last-child{
      margin-right: 0;
   }
   &__item-top{
      flex: 1 0 auto;
   }
   &__item-bottom{
   }
   &__img {
      width: 60px;
      @include positionCenter();
      img {
         width: 100%;
      }
      svg{
         fill: red
      }
      
   }

}
@media (max-width: 690px) {
   .delivery {
      &__wrapper {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}
