@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  

.offer{
   @include component-style();
   &__container{
      @include block-style;
      width: 100%;
      img{
         border-radius: $border-radius;
         width: 100%;
         @include transition()
      }
      img:hover{
         @include itemHover() 
      }
   }
}