.bustle{
   background: $blue;
   &__wrapper{
      padding: 50px 0px;
   }
   &__content{
      display: flex;
      justify-content: space-between;
      align-items:center
   }
   &__text{
 
      p{
         color: $white;
      }
   }
   &__time{
      width: 500px;
      height: 300px;
      background-image: url("/src/assets/img/bustle.jpg");
      background-repeat: no-repeat;
      background-size: contain;
   }
   &__time-wrapper{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px;
   }
   &__time-item{
      width: 20%;
      background: white;
      border-radius: $border-radius;
      p{
         text-align: center;
         padding: 10px 15px;
      }
      p:first-child{
         color: $purple;
      }
      p:last-child{
         color: white;
         background: $purple;
         text-transform: uppercase;
         border-bottom-right-radius: $border-radius;
         border-bottom-left-radius: $border-radius;
   }
}
}

//small devices
@media (max-width: 650px) {
   .bustle{

      &__wrapper{
         padding: 30px 0px;
      }
      &__content{
         flex-direction: column;
      }
      &__time-wrapper{
         padding: 10px;
      }
      &__time{
         width: 100%;
         height: 300px;
 
      }
      &__time-item{
         width: 25%;
         margin-right: 5px;
      }
      &__time-item:last-child{
         margin-right: 0;
      }
   }
}

@media (max-width: 380px) {
   .bustle{
      &__time-item {
         p:last-child{
         text-transform: lowercase;
      }
      }
   }
}
.blue-wrapper{
   background: $blue;
}
