//router component (section ) styles
@use '../abstracts/variables' as *;  
.router{
   &__wrapper{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;   
   }
   a, p {
      display: inline-block;
      margin-left: 10px;
 
   }
   a:hover{
      text-decoration: underline;
   }
}

.white-router{
   background: $blue;
   color: $white;
   svg{
      fill: white;
   }
   p{
      color: $white;
   }
}

.blue-router{
   color: $blue
}