@use '../abstracts/variables' as *;  

.swiper{
   &__wrapper {
 padding: $margin-top 0px;
   }


.swiper-slide {
   width: 100%;
   img {
      width: 100%;
   }
}
.swiper-button-next {
 
}
// --swiper-theme-color: #fff;


.swiper-button-next,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
   --swiper-theme-color: #fff;
}

.swiper-pagination-fraction{
   --swiper-pagination-fraction-color: white;
}

}



.i{
   &__wrapper{
     
   }
   &__swiper{

}

.swiper-button-next,
.swiper-button-prev, 
.swiper-container-rtl .swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
   --swiper-theme-color: $purple;
}

.swiper-pagination-fraction{
   --swiper-pagination-fraction-color: red;
}
}