// all buttons
.button,
.red-button,
.green-button {
   @include reset-button();
}
// colors
.button {
   @include button-colors($orange, $orange);
}
.red-button {
   @include button-colors($red, $red);
}
.green-button {
   @include button-colors($green, $green);
}
//hover button
.red-button:hover {
   @include button-hover($red);
}
.green-button:hover {
   @include button-hover($green);
 
}
.button:hover {
   @include button-hover($orange);
}
 
// svg button style
.button-svg{
   padding:0px 0px;
   background: $white;
   svg{
   @include transition();
      fill: $orange;
      height: 30px;
      width: 30px;
   }
}
.button-svg:hover{
   svg{
      fill: $green;  
   }
}

.icon-svg{
   background: $dark-orange;
   svg{
      @include transition();
      fill: $white;
   }
}

.icon-svg:hover{
   svg{
      fill: $black;  
   }
}