@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  

.panel {
  // &__wrapper {
  // }
  position: relative;
  &__nav {
    @include block-style;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  &__nav:hover{
    @include itemHover();
  }
  &__button{
    display: none;
  }
  &__buttons ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
  }
  &__user-text{
    margin:0px 4px 8px 0px;
  }
  &__user-img {
    svg {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid $dark-green;
    }
  }
  &__user-exit{
    margin-left: 10px;
  }
  // &__content {
  // }
}
//admin panel media
@media (max-width: 690px){
  .panel{
    &__button{
      display: block;
    }
    &__buttons{
      position: absolute;
      z-index: 50000;
      top: 0;
      height: 100vh;
      width: 100%;
      background: $ivory;
      display: none;
      margin-top: 60px;
      margin-left: -20px;
    }
    &__buttons.active{
      display: block;
    }
    &__buttons ul{
      flex-direction: column;
      li{
        margin-top: 30px;
      }
    }
  }
}

//table for edit products
.edit {
  &__content {
    width: 100%;
    background: #ffffff;
  }
  &__table {
    width: 100%;
  }
}

th {
  text-align: left;
  font-weight: bold;

  padding: 15px 5px;
}
td {
  text-align: center;
  padding: 15px 5px;
}
//add new product
.add {
  &__title {
    margin: 20px 0px;
  }

  &__content {
  }
  &__form {
    width: 100%;
    background: #ffffff;
    padding: 10px;
  }
}
.edit {
  &__title {
    margin: 20px 0px;
  }

  &__content {
    height: 600px;
    overflow: scroll;
  }
  &__table {
    width: 100%;
    background: #ffffff;
    padding: 10px;
  }
}
.update {
  &__title {
    margin: 20px 0px;
  }

  &__content {
  }
  &__form {
    width: 100%;
    background: #ffffff;
    padding: 10px;
  }
}
.message {
  width: 100%;

  background: $green;
  padding: 40px;
 &__wrapper{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 1px solid white;
 padding: 2px;

  @include positionCenter();
 }
&__svg svg{
  width: 30px;
  height: 30px;
  @include positionCenter();
  fill: $white;
}
  &__text {
    padding: 10px 5px;
    color: $white;
    text-align: center;
  }
}
