@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  


.brand{
   &__wrapper{
   }
   &__content{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto auto auto;
      gap: 20px;
      justify-items: center;
      align-items: center;
   }
   a{
      @include block-style();
      width: 100%;
   }
   a:hover{
      @include itemHover()
   }
   img{
         width: 100%;
      }
}


@media (max-width: 700px){
   .brand{
      &__content{
      grid-template-columns: repeat(3, 1fr);
      }
   }
}