// BrandsSection component
.brands{
   margin-top: $margin-top;
   &__wrapper{
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      padding: 5px;
      background: $white;
   }
   &__item{ 
      height: 120px;
      a{
             display: block;
      margin: 0 auto;
      }
   }
   &__img{
      width: 100px;
      padding: 10px;
   }
}


// for devices smaller with 800px
@media (max-width: 800px) {
   .brands{
      &__img{
         width: 70px;
         margin: 5px;
 
      }
   }
}

