//router component (section ) styles
.router{
   &__wrapper{
      display: flex;
      align-items: center;
      margin-bottom: 10px;   
   }
   a, p {
      display: inline-block;
      margin-left: 10px;
 
   }
   a:hover{
      text-decoration: underline;
      color: $black;
   }
}