//router component (section ) styles
.router{
   &__wrapper{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 10px;   
   }
   a, p {
      display: inline-block;
      margin-left: 10px;
 
   }
   a:hover{
      text-decoration: underline;
   }
}

.white-router{
   background: $blue;
   svg{
      fill: white;

   }
    a, p{
      color: $white 
   }
   a:visited{
      color: $white 
   }
  
}

.blue-router{
   color: $blue
}