@use '../abstracts/variables'as*; 

// hidden & visible for conditiona
.hidden {
   display: none;
}
.visible {
   display: block;
}

//admin section (add & update product)
.input__wrapper{
  select{
   display: block;
   width: 100%;
   margin-top: 10px;
   height: 25px;
   border: 1px solid $dark-orange;
   color: $orange;
	font-size: $body-text-sm;
  }
}


//input password
.input-password{
   display: flex;
   input{
      border-right: 0px solid white; 
   }
   button {
      background: $white;
      border: 1px solid $dark-green;
      border-left: 0px solid $white;
      height: 29px;
      margin-top: 5px;
      padding-right:3px;
      svg{
         fill: $light-gray;
      }
   }
   input:focus{
      border-right: 0px solid white; 
   }
   &:focus-within button{
      border: 1px solid $orange;
      border-left: 0px solid $white;
   }      
}


//running line span
.running-line-wrapper{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   overflow: hidden;
   
}
.running-line-hide{
   width: 50px;
   height: 50px;
   background: $orange;
   opacity: 0.6;
   z-index: 3;
   
}

$duration: 15s;

.running-line{
   display: block;
   z-index: 2;
   flex-shrink: 0;
   margin-right: -150%;
   text-transform: uppercase;
   animation: marqueeLine $duration linear infinite;
   span{
      color: $white;
   }
 }
 
 @keyframes marqueeLine {
   0% {
     transform: translateX(0);
   }
  50% {
     transform: translateX(-100%);
   }
   75% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-300%);
    }
}

//fade
.fade-enter-active, .fade-leave-active{
   transition: opacity 0.3s ease;
}

.fade-enter-from, .fade-leave-to {
   opacity: 0;
}