//basic colors
$black: #000;
$white: #fff;

// Success & Status Colors
$light-green: #4FA77D;
$dark-green:  #7DA54F;
$green: #1E8449;
$red: #D92B2B;

//Highlight colors
$blue:#002B6F;
$purple: #E21663;

//Accent & UI Colors
$orange:  #FF6B00;
$dark-orange:  #C85500 ;

//neutral colors
$ivory: #F4F4F4;
// $ivory: #610707;
$light-gray: #B0B0B0;

//size
$button-text: 15px;
$nav: 13px;
$border-radius: 5px;
$border-radius-b: 15px;
$margin-top: 50px;
$margin-sm: 10px;
$min-margin: 1px;
$shadow:2px 2px 10px $light-gray;

//font sizes sm - small / 
$heading: 25px;
$heading-sm: 20px;

$subheading: 18px;
$subheading-sm: 15px;

$body-text: 15px;
$body-text-sm: 14px;

$border: 1px solid $light-gray;