// p tag styles
.body-text,
.body-text-red, .body-text-green {
	font-size: $body-text;
}
.body-text-red {
	color: $red;
}
.body-text-green{
	color: $green;
}
.small-text {
	font-size: 14;
	color: $black;
}

.bold {
   font-weight: bold;
 }
.red {
	color: $red;
}
.green {
	color: $green
}
// font styles
.heading{
   @include font-style( $black, 10px, left);
   @include font-size($heading, 40px);
}
.subheading{ 
   @include font-style( $black, 10px, left);
   @include font-size($subheading, 32px);
}
.body-text, .body-text-red, .body-text-green  {
   @include font-size($body-text,24px)
}
.body-text-red{
	@include font-style( $red, 10px, left);
}
.body-text-green{
	@include font-style( $green, 10px, left);
}
.body-text{
	@include font-style( $black, 10px, left);
}


// a tag styles

a{
	@include transition();
}

//tooltip-text
.tooltip{
	position: relative;
	display: inline-block;
	
}
.tooltip-text{
	visibility: hidden;
	position: absolute;
	top:30px;
	padding: 3px;
	background: $purple;
	color: $white;
	z-index: 4;
	font-size: 10px;
	@include transition()
}

.tooltip:hover .tooltip-text{
	visibility: visible;
}