// all buttons
@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  

.button,
.red-button,
.green-button {
   @include reset-button();
}
// colors
.button {
   @include button-colors($orange, $orange);
}
.red-button {
   @include button-colors($red, $red);
}
.green-button {
   @include button-colors($green, $green);
}
//hover button
.red-button:hover {
   @include button-hover($red);
}
.green-button:hover {
   @include button-hover($green);
 
}
.button:hover {
   @include button-hover($orange);
}
 
// svg button style
.button-svg{
   padding:0px 0px;
   background: $white;
   svg{
   @include transition();
      fill: $orange;
      height: 30px;
      width: 30px;
   }
}
.button-svg:hover{
   svg{
      fill: $green;  
   }
}

.icon-svg{
   background: $ivory;
   svg{
      @include transition();
      fill: $blue;
   }
}

.icon-svg:hover{
   svg{
      fill: $black;  
   }
}

.test{
   color: #000;
}

//scroll to top button
.scrollToTop{
   z-index: 60000000px;
   bottom: 70px;
   right:10px;
   position: fixed;
   width: 50px;
   height: 50px;
   background: $purple;
   border-radius: 5px;
   @include transition();
}
.scrollToTop:hover{
   background: $green;
}
.scrollToTop:active{
   background: $orange;
}