.chart{
   &__wrapper{
      display: flex;
      flex-direction: row;
      align-items: end;
      flex-wrap: wrap;
   }
   &__item{
      width: 33%;

   }
}


//mobile
@media (max-width: 1230px){
   .chart{
   &__wrapper{

   }
   &__item {
      width: 50%;
   }
   }
}