.filter{

		&__wrapper{}
      //results
		&__results{
         p, span{
            // color: $white;
         }
      }
      // filer buttons
		&__buttons{
         display: flex;
         margin-top: 20px;
         button svg{
            width: 29px;
            height: 29px;
            margin: 5px 0px;
         }
         button:hover svg{
            fill: $purple;
         }
      }
      //search input
		&__buttons-item:last-child{
         width: 100%;
         bottom: 10px;
      }
      //checkbox wrapper
		&__checkbox{
         @include block-style()
      }
}
