@use '../abstracts/variables' as *;  
@use '../abstracts/mixins' as *;  


input,
textarea {
	@include input();
	@include transition();
}
input::placeholder{
   color: $dark-green
}

input:focus{
	border: 1px solid $orange;
}
